body{
    background-color: #666;
    font-family: fantasy;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
        
}

.check{
    width: 10px;
    height: 10px;
    border: 5px solid red;
    border-radius: 50%;
    z-index: 100;
    
}

#imgOK{
    width: 40%;
    float: left;
    margin: 10px;
}

#imgDIF{
    width: 40%;
    float: left;
    margin: 10px;
}

.diference{
    background: #FF0000;
}


#napis {
        width:448px;
        height:46px;
        font-size:24px;
        margin:0 auto;
        margin-top: 50px;
        text-align:center;
        color: white;
      }

      #napis > span {
        display:block;
        float:left;
        width:40px;
        line-height:40px;
        margin:0 5px;
        border:3px solid #fff;
        background-color:#00F;
        border-radius:6px;
        animation:animowany_tekst 5s linear infinite;
        -webkit-animation:animowany_tekst 5s linear infinite;
      }

      #napis > #litera1 {
        animation-delay:250ms;
        -webkit-animation-delay:250ms;
      }

      #napis > #litera2 {
        animation-delay:500ms;
        -webkit-animation-delay:500ms;
      }

      #napis > #litera3 {
        animation-delay:750ms;
        -webkit-animation-delay:750ms;
      }

      #napis > #litera4 {
        animation-delay:1000ms;
        -webkit-animation-delay:1000ms;
      }

      #napis > #litera5 {
        animation-delay:1250ms;
        -webkit-animation-delay:1250ms;
      }

      #napis > #litera6 {
        animation-delay:1500ms;
        -webkit-animation-delay:1500ms;
      }

      #napis > #litera7 {
        animation-delay:1750ms;
        -webkit-animation-delay:1750ms;
      }

      #napis > #litera8 {
        animation-delay:2000ms;
        -webkit-animation-delay:2000ms;
      }

      #napis > #litera9 {
        animation-delay:2000ms;
        -webkit-animation-delay:2000ms;
      }
      #napis > #litera10 {
        animation-delay:2000ms;
        -webkit-animation-delay:2000ms;
      }
      #napis > #litera11 {
        animation-delay:2000ms;
        -webkit-animation-delay:2000ms;
      }
      #napis > #litera12 {
        animation-delay:2000ms;
        -webkit-animation-delay:2000ms;
      }
      #napis > #litera13 {
        animation-delay:2000ms;
        -webkit-animation-delay:2000ms;
      }
      #napis > #litera14 {
        animation-delay:2000ms;
        -webkit-animation-delay:2000ms;
      }
      #napis > #litera15 {
        animation-delay:2000ms;
        -webkit-animation-delay:2000ms;
      }
      #napis > #litera16 {
        animation-delay:2000ms;
        -webkit-animation-delay:2000ms;
      }
   


      
      @keyframes animowany_tekst
      {
        0% {transform:rotate(0);}
        10% {transform:rotate(360deg);}
        100% {transform:rotate(360deg);}
      }