#spot_diff_container {
    margin: 40px; 
}
		#spot_diff_image { 
            background: url('/img2.png'); 
            float: left;
}
		#spot_diff_image2{
            background: url('/img2.png'); 
            float: left;
}
		.spot_diff_clear {
            clear: both; width: 100%;
}
		#spot_diff_message {
            border: 1px solid #000; 
            color: #0F0; 
            font-size: 30px; 
            text-align: center; 
            font-family: 'Itim', cursive;
}